<!DOCTYPE html>
<html>

<head>
  <title>Flask-SSE Demo - BigBoxCode</title>
</head>

<body>
  <h3>Messages will appear below :-</h3>
  <ul id="list">
    <!-- new content appears here -->
  </ul>
</body>

<script>
  const source = new EventSource("{{ url_for('sse.stream') }}");

  source.addEventListener('bigboxcode', function (currentEvent) {
    if (currentEvent.data.length > 0) {
      const listElement = document.getElementById('list');
      const newElement = document.createElement('li');
      newElement.innerText = currentEvent.data;

      listElement.appendChild(newElement);

      console.log(JSON.parse(event.data));
    }
  }, false);

  source.addEventListener('error', function (currentEvent) {
    console.log(currentEvent)
  }, false);
</script>

</html>